body {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  font-family: "Gilroy", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  border: none;
  padding: 0;
}

img {
  display: block;
}

.container {
  max-width: 1180px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*-------------------- HEADER --------------------*/

.header {
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation {
  display: flex;
  align-items: center;
  gap: 203px;
}

.header-logo {
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.header-nav-list {
  display: flex;
  gap: 40px;
}

.header-list-items {
}

.header-list-link {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #0c0c0c;
  display: block;
  padding-top: 30px;
  padding-bottom: 40px;
}

.header-address {
  font-style: normal;
  margin-left: auto;
}

.header-address-list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-address-items {
}

.header-address-link {
  border: 1px solid rgba(12, 12, 12, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*-------------------- HERO --------------------*/

#Hero {
  padding-top: 80px;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.hero-content-list {
}

.hero-content-title {
}

.hero-heading {
  font-weight: 600;
  font-size: 72px;
  line-height: 0.875;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  max-width: 597px;
  margin-bottom: 20px;
}

.hero-accent {
  color: #3350e9;
}

.hero-text {
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  max-width: 480px;
}

.hero-list {
  display: flex;
  margin-bottom: 189px;
}

.hero-items {
  margin-right: -16px;
}

.hero-link {
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c0c0c;
  margin-left: 44px;
}

.hero-link:hover,
.hero-link:focus {
  color: #3350e9;
}

.hero-img {
}

/*-------------------- ABOUTUS --------------------*/

#AboutUs {
  padding-top: 100px;
  padding-bottom: 100px;
}

#AboutUs .container {
  display: flex;
}

.aboutus-content {
  padding: 80px 60px;
  margin-right: 40px;
}

.aboutus-heading {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91667;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 40px;
}

.aboutus-first-text {
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 20px;
}

.aboutus-second-text {
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 40px;
}

.aboutus-link {
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
  background-color: #3350e9;
  padding: 15px 37px 15px 38px;
  border-radius: 16px;
  max-width: 160px;
  display: block;
}

.aboutus-link:hover,
.aboutus-link:focus {
  background-color: #1f3cd4;
}

/*-------------------- CATALOG --------------------*/

.catalog-heading {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91667;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 40px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 23px;
}

.catalog-items {
  max-width: calc((100% - 46px) / 3);
  padding: 24px 32px;
}

.catalog-items-img {
  margin-bottom: 10px;
}

.catalog-items-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 8px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.catalog-items-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
}

/*-------------------- ADVERTISEMENT --------------------*/

#advertisement {
  padding-top: 100px;
  padding-bottom: 100px;
}

#advertisement .container {
  display: flex;
  padding: 83px 80px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advertisement-text {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91667;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  max-width: 690px;
}

.advertisement-accent {
  color: rgba(251, 251, 251, 0.5);
}

.advertisement-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.15);
  border-radius: 16px;
  padding: 15px 44px;
  margin-left: auto;
  max-height: 48px;
}

.advertisement-link:hover,
.advertisement-link:focus {
  color: #0c0c0c;
  background-color: #fbfbfb;
}

/*-------------------- ADVERTISEMENT --------------------*/
