body {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  font-family: "Gilroy", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  border: none;
  padding: 0;
}

img {
  display: block;
}

.container {
  max-width: 1180px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*-------------------- HEADER --------------------*/

.header {
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation {
  display: flex;
  align-items: center;
  gap: 203px;
}

.header-logo {
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.header-nav-list {
  display: flex;
  gap: 40px;
}

.header-list-items {
}

.header-list-link {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #0c0c0c;
  display: block;
  padding-top: 30px;
  padding-bottom: 40px;
}

.header-address {
  font-style: normal;
  margin-left: auto;
}

.header-address-list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-address-items {
}

.header-address-link {
  border: 1px solid rgba(12, 12, 12, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*-------------------- HERO --------------------*/

#Hero {
  padding-top: 80px;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.hero-content-list {
}

.hero-content-title {
}

.hero-heading {
  font-weight: 600;
  font-size: 72px;
  line-height: 0.875;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  max-width: 597px;
  margin-bottom: 20px;
}

.hero-accent {
  color: #3350e9;
}

.hero-text {
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  max-width: 480px;
}

.hero-list {
  display: flex;
  margin-bottom: 189px;
}

.hero-items {
  margin-right: -16px;
}

.hero-link {
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c0c0c;
  margin-left: 44px;
}

.hero-link:hover,
.hero-link:focus {
  color: #3350e9;
}

.hero-img {
}

/*-------------------- ABOUTUS --------------------*/

#AboutUs {
  padding-top: 100px;
  padding-bottom: 100px;
}

#AboutUs .container {
  display: flex;
}

.aboutus-content {
  padding: 80px 60px;
  margin-right: 40px;
}

.aboutus-heading {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91667;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 40px;
}

.aboutus-first-text {
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 20px;
}

.aboutus-second-text {
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 40px;
}

.aboutus-link {
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
  background-color: #3350e9;
  padding: 15px 37px 15px 38px;
  border-radius: 16px;
  max-width: 160px;
  display: block;
}

.aboutus-link:hover,
.aboutus-link:focus {
  background-color: #1f3cd4;
}

/*-------------------- CATALOG --------------------*/

.catalog-heading {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91667;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 40px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 23px;
}

.catalog-items {
  max-width: calc((100% - 46px) / 3);
  padding: 24px 32px;
}

.catalog-items-img {
  margin-bottom: 10px;
}

.catalog-items-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 8px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.catalog-items-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
}

/*-------------------- ADVERTISEMENT --------------------*/

#advertisement {
  padding-top: 100px;
  padding-bottom: 100px;
}

#advertisement .container {
  display: flex;
  padding: 83px 80px;
  background-image:
    url(../images/advertisement-background.png),
    linear-gradient(#0c0c0c, #0c0c0c);
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advertisement-text {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91667;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  max-width: 690px;
}

.advertisement-accent {
  color: rgba(251, 251, 251, 0.5);
}

.advertisement-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.15);
  border-radius: 16px;
  padding: 15px 44px;
  margin-left: auto;
  max-height: 48px;
}

.advertisement-link:hover,
.advertisement-link:focus {
  color: #0c0c0c;
  background-color: #fbfbfb;
}

/*-------------------- Sale --------------------*/

.sale-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91667;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 40px;
}

.sale-wrapper {
  display: flex;
}

.sale-img-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 20px;
}

.sale-items-background {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 20px;
  background-color: #f3f3f3;
}

.sale-img-item {
  padding: 16px 18px;
}

.sale-big-img {
  padding: 80px 50px;
  margin-right: 40px;
}

.sale-content-wrapper {
  padding: 60px;
  background-color: #3350e9;
  border-radius: 50px;
}

.sale-content-headding {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.125;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 10px;
}

.sale-content-tag {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  margin-bottom: 20px;
}

.sale-content-price-wrapper {
  display: flex;
  gap: 9px;
  align-items: center;
  margin-bottom: 30px;
}

.sale-content-new-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  background-color: rgba(251, 251, 251, 0.1);
  padding: 8px 12px;
  border-radius: 8px;
}

.sale-content-old-price {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  text-decoration: line-through;
  color: rgba(251, 251, 251, 0.5);
}

.sale-content-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.7);
  margin-bottom: 40px;
}

.sale-content-proprties {
  display: flex;
  gap: 8px;
  flex-direction: row;
  flex-wrap: wrap;
}

.sale-content-proprtie {
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 8px;
  padding: 7px 11px;
  background-color: transparent;
}

.sale-content-proprtie-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: #fbfbfb;
  text-align: center;
}

/*-------------------- Reviews --------------------*/

.reviews {
  padding-top: 100px;
}

.reviews-headding {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91667;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 40px;
}

.reviews-list {
  display: flex;
  gap: 20px;
}

.reviews-items {
  width: calc((100% - 40px) / 3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 36px;
  border-radius: 30px;
  background-color: #f3f3f3;
}

.reviews-img {
  margin-bottom: 24px;
}

.reviews-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #0c0c0c;
  margin-bottom: 8px;
}

.reviews-text {
  line-height: 1.25;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(12, 12, 12, 0.4);
}

/*-------------------- Contact us --------------------*/

.Contact-us {
  padding-top: 100px;
  padding-bottom: 100px;
}
